// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';


@import 'header';
@import 'banner';
@import 'home';
@import 'footer';
@import 'font';
@import 'collection';
@import 'card';
@import 'details';
@import 'submit';
@import 'modal';
@import 'form';
@import 'create';

//font awesome
$fa-font-path:        "../webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";

body{
    padding: 0;
    margin: 0;
}
