main#home > section:first-child{

    background-image: url('../../public/images/banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

    div.teaser{
        position: absolute;


        div{
            text-align: center;
        }

        h1{
            padding: 2px 10px;
            font-size: 35px;
            font-family: 'Bodoni';
            color: white;
            background-color: black;
            border: 1px solid gray;
        }

        a{
            color: white;
            background-color: black;
            opacity: 0.5;
            padding: 14px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
        }
        a:hover{
            opacity: 1;
            transition: 0.4s;
        }
    }
}
