div.collection{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    flex-wrap: wrap;

    div.card-description{
        margin: 10px;
    }

    a{
        color: black;
        margin: 0px 10px;

        div.collection-card{
            box-shadow: 1px 1px 3px -2px gray;
            width: 200px;


            div.img-header{
                height: 200px;
            }


            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }

        }

        div.collection-card:hover{
            opacity: 0.5;
            transition: 0.4s;
        }
    }
}

