main#collection{
    margin-top: 150px;
}

main#collection section:first-child{
    margin: 20px;
    display: flex;
    justify-content: space-evenly;

    div{
        height: 180px;
        width: 320px;

        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}

main#collection section:nth-child(2){
    margin-top: 45px;
    margin-left: 20px;
    width: 95%;

    h2{
        width: 100%;
        text-align: center;
        border-bottom: 5px solid gray;
        line-height: 0.1em;
        margin: 10px 0 20px;
        font-weight: 400;

        span{
            background:#fff;
            padding:0 10px;
        }
    }
}

button.open-modal{
    background-color: black;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 34.3px;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
}


div.form-group{
    margin-bottom: 15px;

    input.form-shoes{
        width: 95%;
        border: 1px solid gray;
        padding: 9px;
        // border-radius: 10px;
        outline: none;
    }

    span.error{
        color:red;
        font-size: 10px;
    }

}

form{
    margin: 30px;
}

label{
    display: block;
}


