main#create{
    margin: 150px 70px 60px 70px;
    display: flex;
    justify-content: center;

    div.form-container{
        background-color: #f7f7f7;
        box-shadow: 2px 1px 3px -2px gray;
        min-height: 500px;
        width: 100%;
        border-radius: 40px;


        div.inner-container{

            div.inner-container-header{
                text-align: center;

                h1{
                    font-weight: 100;
                }
            }

            form{
                div.form-input{

                    margin-bottom: 20px;

                    input{
                        border: none;
                        outline: none;
                        padding: 10px;
                        width: 97%;
                    }

                    textarea{
                        width: 100%;
                    }
                }
            }
        }
    }
}
