main#details{
    margin: 40px;
    display: flex;
    margin-top: 160px;
    flex-wrap: wrap;


    section:nth-child(1) img{
        width: 100px;
        height: 100px;
        display: block;
        margin-bottom: 10px;
    }

    section:nth-child(1) img:hover{
        opacity: 0.5;
        transition: 0.4s;
    }

    section:nth-child(2){
        margin-left: 40px;

        div{
            height: 450px;
            width: 450px;
        }

        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    section:nth-child(3){
        margin-left: 60px;
        width: 30%;

        h1{
            font-size: 35px;
            font-weight: 400;
            margin-top: 0;
        }

        select{
            padding-top: 8px;
            padding-bottom: 8px;
            font-size: 14px;
            width: 100%;
            color: gray;
            font-weight: bold;
            border: 1px solid black;
        }


        div{

            div.quantity{
                display: flex;
                margin-top: 10px;
                margin-bottom: 10px;

                div.quantity-selector{
                    button{
                        display: block;
                    }
                }
            }

            button{
                background-color: black;
                color: white;
                border: none;
                padding: 10px;
                font-weight: bold;
            }

            button.btn{
                height: 27px;
                width: 31px;
            }

            input.quantity-value{
                width: 50px;
                height: 50px;
                border: 1px solid black;
            }

            button.image{
                position: absolute;
                left: 10px;
                border-radius: 0px;
            }
        }
    }

}


@media screen and (max-width: 1008px){
    main#details section:nth-child(3){
        margin-left: 140px;
        width: 49%;
    }
}

span.shoe-modal-title{
    font-weight: 100;
}
