footer{
    background-color: black;
    height: auto;
    color: white;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;

    p{
        font-size: 8pt;
        color: gray;
    }
}
