header{
    background-color: transparent;
    height: 87px;
    width: 100%;
    position: fixed;
    transition: 0.5s;
    // z-index: 1000;
    top:0;
}



.alternate-nav{
    background-color: black;
}

div.mobile-nav{
    display: none;
}

nav{
    margin-left: 10px;
    height: 100%;
    overflow: hidden;

    div{
        display: flex;

            div.header-logo{
                width: 160px;
                margin-top: 25px;
            }

            div.toggle-button{
                display: none;
            }
    }

}

nav img{
    width: 100%;
}

ul{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;

    li:nth-child(7){
        color: white;

        a{
            padding: 5px;
        }
    }

    form.nav-logout{
        margin: 0px;
    }
}

li{
    list-style-type: none;
    margin-right: 40px;

    input{
        border-radius: 17px;
        padding: 5px;
        border: none;
        outline: none;
    }
}

a{
    text-decoration: none;
    color: white;
}

a#sale{
    color: red;
}

.scroll-nav{
    background-color: black;
    transition: 0.5s;
}

@media screen and (max-width: 801px){
    nav{

        div{
            display: block;
        }

        div.header-logo{
            width: 210px;
        }

        div.nav-header{
            display: flex;
            height: 70px;
        }

        ul{
            display: block;
            font-size: 20px;
            position: relative;
            right: 30px;

            li{
                margin-right: 0;
                margin-bottom: 10px;
            }
        }
    }

    header{
        background: black;
    }

    header.mobile-nav{
        height: 310px;
    }



    div.toggle-button{
        display: block !important;
        position: fixed;
        right: 17px;
        top: 22px;

        button{
            background: transparent;
            border: none;
            width: 54px;
            outline: none;
        }
    }
    div.mobile-nav{
        display: block;
    }
}




