main#home > section:nth-child(2){
    height: 120vh;
    position: relative;
    display: flex;
    justify-content: center;

    div.inner-section{
        display: flex;
    }

    > section{
        position: absolute;
        width: 95%;
        box-shadow: 1px 1px 3px -2px grey;
        height:auto;
        top: -120px;
        background-color: white;
        padding: 20px;

        // &::before{
        //     content: "";
        //     position: relative;
        //     width: 95%;
        //     box-shadow: 1px 1px 3px -2px grey;
        //     height: auto;
        //     top: -120px;
        //     background-color: white;
        //     padding: 20px;
        // }


        article{
            width: 50%;
            display: flex;

            img{
                width: 40%;
            }

            div{
                margin-left: 40px;
                width: 40%;

                h2{
                    font-size: 18px;
                    font-weight: bold;
                }
            }
        }

        section{
            margin-top: 45px;

            h2{
                width: 100%;
                text-align: center;
                border-bottom: 5px solid gray;
                line-height: 0.1em;
                margin: 10px 0 20px;

                span{
                    background:#fff;
                    padding:0 10px;
                }
            }

           > div.front-row{
                display: flex;

               > div.card{
                    margin: 0 20px;
                    box-shadow: 0 1px 3px -2px gray;
                    width: 40%;

                    img{
                        width: 100%;
                    }

                    div.card-description{
                        width: 100%;
                    }
                }
            }
        }
    }

}

@media screen and (max-width:800px){

    main#home > section:nth-child(2){
        height: auto;

        section{
            position: unset;
        }
    }


    div.front-row{
        flex-wrap: wrap;
        justify-content: center;
    }
}
